* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
}

.letter-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  background: #3d5e38;
  scroll-snap-align: start;
  background-image: url("./images/board.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.letter {
  font-family: serif;
  color: #dcc9c9;
  font-size: 66rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .letter-container {
    height: 100vh;
  }
  .letter {
    font-size: 28rem;
  }

  .letter span {
    font-size: 15rem;
  }
}
