* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-container {
  position: relative;
  overflow-x: hidden;
  background: #3d5e38;
}

.letter-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter {
  font-family: serif;
  color: #dcc9c9;
  max-width: 60%;
  font-size: 66rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

@media screen and (max-width: 768px) {
  .letter {
    font-size: 20rem;
  }

  .letter span {
    font-size: 15rem;
  }
}
