* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  overflow-x: hidden;
  /* background: linear-gradient(
    rgb(255, 124, 124),
    rgb(255, 209, 124),
    rgb(255, 255, 124),
    rgb(95, 255, 124),
    rgb(100, 124, 255),
    rgb(200, 124, 255),
    rgb(255, 124, 255)
  ); */
}

.letter {
  font-family: "Chelsea Market", cursive;
  /* color: #ffffff; */
  height: 100vh;
  width: 100%;
  font-size: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-shadow: 1px 2px 4px #000;
}

@media screen and (max-width: 768px) {
  .letter {
    font-size: 20rem;
  }

  .letter span {
    font-size: 15rem;
  }
}
